.fa.fa-minus-square {
    font-size: 22px;
    display: block;
    color: #de3030;
    position: relative;
    left: 25%;
    cursor: pointer;
}
.fa.fa-pen-square {
    font-size: 22px;
    display: block;
    color: #34495e;
    position: relative;
    left: 25%;
    cursor: pointer;
}
.fa.fa-link {
    font-size: 22px;
    display: block;
    color: #3510ff;
    position: relative;
    left: 25%;
    cursor: pointer;
}